
.app {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "captions play memes"
                        "captions hand memes";
  grid-gap: 5px;
  background-color: aqua;

}

.meme-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

ul {
  list-style-type: none;
  display: flex;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: green;
}


button:hover {
  background-color: white;
  transform: rotate(45deg);
}

.meme img {
  margin: 5px;
  height: auto;
  width: 100%;
}

.play {
  grid-area: play;
}

.hand {
  grid-area: hand;
}

.captions {
  grid-area: captions;
}

.memes {
  grid-area: memes;
}

.activeMeme {
  width: 100%;
  height: auto;
}

li {
  border: 3px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  overflow: auto;
  width: 100px;
  height: 200px;
  background-color: tan;
  color: black;

}
